<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <!-- Include the required JavaScript libraries: -->
    <script src='/static/jquery/jquery.js' type="text/javascript"></script>
    <script src='/static/jquery/jquery-ui.custom.js' type="text/javascript"></script>
    <script src='/static/jquery/jquery.cookie.js' type="text/javascript"></script>

    <link rel='stylesheet' type='text/css' href='/static/skin/ui.dynatree.css'>
    <script src='/static/jquery.dynatree.min.js' type="text/javascript"></script>
<style>
  span.ws-wrap span.dynatree-title { white-space: normal; }
</style>
<script type="text/javascript">
  $(function(){
    $("#tree").dynatree({
      initAjax: {
        url: "/scheme/topconcepts/"
        },
      onLazyRead: function(node){
        node.appendAjax({url: "/scheme/concept/" + node.data.key + "/"});
      }
    });
  });
</script>
</head>
<body><div id="tree"> </div></body>
</html>