<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <!-- Include the required JavaScript libraries: -->
    <script src='/static/jquery/jquery.js' type="text/javascript"></script>
    <script src='/static/jquery/jquery-ui.custom.js' type="text/javascript"></script>
    <script src='/static/jquery/jquery.cookie.js' type="text/javascript"></script>

    <link rel='stylesheet' type='text/css' href='/static/skin/ui.dynatree.css'>
    <script src='/static/jquery.dynatree.min.js' type="text/javascript"></script>
<style>
  span.ws-wrap span.dynatree-title { white-space: normal; }
  ul.dynatree-container { padding-right: 40px; }
</style>
<script type="text/javascript">
  $(function(){
    $("#tree1").dynatree({
      //generateIds: true,
      initAjax: {
        url: "/scheme/topconcepts/?lang=en"
      },
      onLazyRead: function(node){
        node.appendAjax({
          url: "/scheme/concept/" + node.data.key + "/?lang=en",
          success: function(node) {$("#tree2").dynatree("getTree").getNodeByKey(node.data.key).expand(true);}
        });
      },
      onExpand: function(flag, node) {
        $("#tree2").dynatree("getTree").getNodeByKey(node.data.key).expand(flag);
      }
    });
    $("#tree1 ul").scroll(function() {
      //var activ1=$("#tree1").dynatree("getTree").getActiveNode();
      //var activ2=$("#tree2").dynatree("getTree").getNodeByKey(activ1.data.key);
      //console.log($(activ1.li).offset().top);
      $('#tree2 ul').scrollTop($('#tree1 ul').scrollTop() + 30);
    });
  });

  $(function(){
    $("#tree2").dynatree({
      //generateIds: true,
      initAjax: {
        url: "/scheme/topconcepts/?lang=fr"
      },
      onLazyRead: function(node){
        node.appendAjax({
          url: "/scheme/concept/" + node.data.key + "/?lang=fr",
          success: function(node) {$("#tree1").dynatree("getTree").getNodeByKey(node.data.key).expand(true);}
        });
      },
      onExpand: function(flag, node) {
        $("#tree1").dynatree("getTree").getNodeByKey(node.data.key).expand(flag);
      }
    });
    $("#tree2 ul").scroll(function() {
      $('#tree1 ul').scrollTop($('#tree2 ul').scrollTop() - 30);
    });
  });
</script>
</head>
<body>
<body><table><tr>
  <td valign="top"><div id="tree1" style="width:550px;height:700px"></div></td>
  <td valign="top"><div id="tree2" style="width:550px;height:700px"></div></td>
</tr></table></body>
</html>